body{
    font-family: Arial;
    margin:40px;
    background:#eef5ff;
}

h1{
    color:#0066cc;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 20px;
    background:#0066cc;
    color:white;
    border:none;
}

button:hover{
    background:#004c99;
}



  
